{% extends 'blog/base.html' %}
{% load static %}

<title>{% block title %}Home{% endblock title %}</title>

{% block msg %}
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show"{% endif %}>
            <strong>{{message}}</strong>
            {% comment %} <button type="button" class="close" data-dismiss='alert' arial-label='close'>
                <span arial-hidden="true">&times;</span>
            </button> {% endcomment %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock msg %}

{% block contant %}
    <div class="col-sm-10">
        <h3 class="text-white my-3">Home Page</h3>
        {% for post in posts %}
            <div class="jumbotron jumbotron-fluid jumbo-color">
                <div class="container">
                    <h1 class="display-4 font-weight-bold">{{post.title}}</h1>
                    <p class="lead">{{post.desc}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contant %}